.navbar {
  border: 1px solid red;
  height: 84px;
  width: 100%;
  padding: var(--px-sm);

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  width: 46px;
  height: 30px;
}

.navbar__logo img {
  width: 100%;
  height: auto;
}

.navbar__hamburger {
  width: 42px;
  height: 19px;
}

.navbar__hamburger img {
  width: 100%;
  height: auto;
}
