.navbar {
  /* border: 1px solid red; */
  height: 84px;
  width: 100%;
  padding: var(--px-sm);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  width: 46px;
  height: 30px;
}

.navbar__logo img {
  width: 100%;
  height: auto;
}

.navbar__menu-icon, .close-icon {
  /* border: 1px solid red; */
  position: relative;
}

.navbar__menu-icon {
  width: 42px;
  height: 42px;
  /* height: 19px; */
}

.close-icon {
  width: 34px;
  height: 34px;
}

.navbar__menu-icon img, .close-icon img {
  width: 100%;
  height: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar__nav {
  width: 70%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  padding: 1.625rem 1.1875rem;
  display: flex;
  align-items: center;

  background-color: salmon;
  transition: right 0.35s ease-in-out;
}

.show {
  right: 0;
}

.close-icon {
  position: absolute;
  top: 1.625rem;
  right: 1.1875rem !important;
}

.nav {
  padding-left: 0.375rem;
}
