@import url('./components/variables.css');
@import url('./components/navbar.css');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: var(--inter);
  padding: var(--px-sm);
  background-color: var(--white);
}

.sr-only {
  position: absolute;
  top: -1000px;
  left: -10000px;
}
